{% load static i18n %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="description" content="It contains geeks."/>
    <meta name="author" content="Geek Beacon"/>

    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="icon" href="favicon.ico"/>

    <title>Geek Beacon</title>
</head>
<body>
  <div class="body-wrap">
    {% block navbar %}

      <div class="inner">
          <a href="/geeksabroad"><img alt="Geeks abroad" class="b1 btn" src="{% static 'images/abroad.png' %}"/></a>
          <a href="//groups.google.com/forum/#!forum/squirrel-army" target="_new"><img alt="Squirrel army" class="b2 btn"
                                                                                       src="{% static 'images/squirrel.png' %}"/></a>
          <a href="//github.com/OSAlt" target="_new"><img alt="OS.ALT" class="b3 btn" src="{% static 'images/osalt.png' %}"/></a>
          <a href="/gaming"><img alt="Gaming" class="b4 btn" src="{% static 'images/gaming.png' %}"/></a>
          <a href="/stream"><img alt="Streaming" class="b5 btn" src="{% static 'images/youtube.png' %}"/></a>
          <a href="/survey"><img alt="Skills Survey" class="b6 btn" src="{% static 'images/joinus.png' %}"/></a>
          <a href="https://discord.gg/EFNHwnE" target="_new"><img alt="Join Discord" class="b7 btn" src="{% static 'images/discord.png' %}"/></a>
          <a href="https://www.instagram.com/the_poly_locker/" target="_new"><img alt="Credits Page" class="b8 btn" src="{% static 'images/credits.png' %}" /></a>
      </div>
    {% endblock navbar %}

    <div class="content">
      {% block content %}
      {% endblock content %}
    </div>

  </div>
<footer>
    <div>Special thanks to Inertia Networks for hosting our open source community.</div>
    <a href="//inertianetworks.com" target="_blank"><img src="{% static 'images/sponsor.png' %}" alt="Inertia Networks"/></a>
</footer>
</body>
</html>
