{% extends "pages/home.html" %}
{% load static i18n %}
{% block content %}
<section class="main-container">
  <div class="container">
    <div class="row">
    <div class="main col-12">
      <div class="row grid-space-10">
        <div class="col-md-6 col-lg-3">
          <div class="image-box team-member style-2 bordered dark-bg mb-20 text-center">
            <div class="overlay-container overlay-visible">
              <img src="{% static 'images/team-member-1.jpg' %}" alt="">
              <div class="overlay-bottom">
                <p class="small margin-clear">Lorem ipsum dolor sit amet, consectetur adipisicing elit!</p>
              </div>
            </div>
            <div class="body">
              <h3 class="margin-clear">Jane Doe</h3>
              <small>CEO</small>
              <div class="separator mt-10"></div>
              <ul class="social-links circle dark margin-clear">
                <li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                <li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                <li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="image-box team-member style-2 bordered dark-bg mb-20 text-center">
            <div class="overlay-container overlay-visible">
              <img src="{% static 'images/team-member-2.jpg' %}" alt="">
              <div class="overlay-bottom">
                <p class="small margin-clear">Ipsum dolor Voluptates praesentium nulla cupiditate explicabo ad!</p>
              </div>
            </div>
            <div class="body">
              <h3 class="margin-clear">John Doe</h3>
              <small>CTO</small>
              <div class="separator mt-10"></div>
              <ul class="social-links circle dark margin-clear">
                <li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                <li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                <li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="image-box team-member style-2 bordered dark-bg mb-20 text-center">
            <div class="overlay-container overlay-visible">
              <img src="{% static 'images/team-member-3.jpg' %}" alt="">
              <div class="overlay-bottom">
                <p class="small margin-clear">Dolor sit amet, cupiditate molestias vero explicabo!</p>
              </div>
            </div>
            <div class="body">
              <h3 class="margin-clear">Anne Doe</h3>
              <small>Project Manager</small>
              <div class="separator mt-10"></div>
              <ul class="social-links circle dark margin-clear">
                <li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                <li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                <li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="image-box team-member style-2 bordered dark-bg mb-20 text-center">
            <div class="overlay-container overlay-visible">
              <img src="{% static 'images/team-member-4.jpg' %}" alt="">
              <div class="overlay-bottom">
                <p class="small margin-clear">Dolor sit amet, consectet cupiditate molestias vero explicabo!</p>
              </div>
            </div>
            <div class="body">
              <h3 class="margin-clear">Michael Crayz</h3>
              <small>Project Manager</small>
              <div class="separator mt-10"></div>
              <ul class="social-links circle dark margin-clear">
                <li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                <li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                <li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
  </section>
<section class="main-container">

  <div class="container">
    <div class="row">
    <div class="main col-12">
      <div class="row grid-space-10">
        <div class="col-md-6 col-lg-3">
          <div class="image-box team-member style-2 bordered dark-bg mb-20 text-center">
            <div class="overlay-container overlay-visible">
              <img src="{% static 'images/team-member-1.jpg' %}" alt="">
              <div class="overlay-bottom">
                <p class="small margin-clear">Lorem ipsum dolor sit amet, consectetur adipisicing elit!</p>
              </div>
            </div>
            <div class="body">
              <h3 class="margin-clear">Jane Doe</h3>
              <small>CEO</small>
              <div class="separator mt-10"></div>
              <ul class="social-links circle dark margin-clear">
                <li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                <li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                <li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="image-box team-member style-2 bordered dark-bg mb-20 text-center">
            <div class="overlay-container overlay-visible">
              <img src="{% static 'images/team-member-2.jpg' %}" alt="">
              <div class="overlay-bottom">
                <p class="small margin-clear">Ipsum dolor Voluptates praesentium nulla cupiditate explicabo ad!</p>
              </div>
            </div>
            <div class="body">
              <h3 class="margin-clear">John Doe</h3>
              <small>CTO</small>
              <div class="separator mt-10"></div>
              <ul class="social-links circle dark margin-clear">
                <li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                <li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                <li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="image-box team-member style-2 bordered dark-bg mb-20 text-center">
            <div class="overlay-container overlay-visible">
              <img src="{% static 'images/team-member-3.jpg' %}" alt="">
              <div class="overlay-bottom">
                <p class="small margin-clear">Dolor sit amet, cupiditate molestias vero explicabo!</p>
              </div>
            </div>
            <div class="body">
              <h3 class="margin-clear">Anne Doe</h3>
              <small>Project Manager</small>
              <div class="separator mt-10"></div>
              <ul class="social-links circle dark margin-clear">
                <li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                <li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                <li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="image-box team-member style-2 bordered dark-bg mb-20 text-center">
            <div class="overlay-container overlay-visible">
              <img src="{% static 'images/team-member-4.jpg' %}" alt="">
              <div class="overlay-bottom">
                <p class="small margin-clear">Dolor sit amet, consectet cupiditate molestias vero explicabo!</p>
              </div>
            </div>
            <div class="body">
              <h3 class="margin-clear">Michael Crayz</h3>
              <small>Project Manager</small>
              <div class="separator mt-10"></div>
              <ul class="social-links circle dark margin-clear">
                <li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                <li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                <li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<!-- footer top start -->
<!-- ================ -->
<div class="dark-bg footer-top animated-text">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="call-to-action text-center">
          <div class="row">
            <div class="col-md-8">
              <h2 class="mt-4">Mouse over this area for an important message</h2>
              <h2 class="mt-4">Butts... lol</h2>
            </div>
            <div class="col-md-4">
              <p class="mt-3"><a href="javascript:AlertIt()" id="notouch" class="btn btn-animated radius-50 btn-lg btn-gray-transparent">DO NOT TOUCH<i class="fa fa-exclamation-triangle pl-20"></i></a></p>
            </div>
            <script type="text/javascript">
            function AlertIt() {
            alert("Don't go jump off a cliff")
            }
            </script>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- footer top end -->
<!-- footer start (Add "dark" class to #footer in order to enable dark footer) -->
<!-- ================ -->
<footer id="footer" class="clearfix dark">

  <!-- .footer start -->
  <!-- ================ -->
  <div class="footer">
    <div class="container">
      <div class="footer-inner">
        <div class="row">
          <div class="col-lg-3">
            <div class="footer-content">
              <div class="logo-footer"><img id="logo-footer" src="{% static 'images/logo_light_blue.png' %}" alt=""></div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus illo vel dolorum soluta consectetur doloribus sit. Delectus non tenetur odit dicta vitae debitis suscipit doloribus. Ipsa, aut voluptas quaerat... <a href="page-about.html">Learn More<i class="fa fa-long-arrow-right pl-1"></i></a></p>
              <div class="separator-2"></div>
              <nav>
                <ul class="nav flex-column">
                  <li class="nav-item"><a class="nav-link" target="_blank" href="https://htmlcoder.me/support">Support</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">Privacy</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">Terms</a></li>
                  <li class="nav-item"><a class="nav-link" href="page-about.html">About</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="footer-content">
              <h2 class="title">Latest From Blog</h2>
              <div class="separator-2"></div>
              <div class="media margin-clear">
                <div class="d-flex pr-2">
                  <div class="overlay-container">
                    <img class="media-object" src="{% static 'images/blog-thumb-1.jpg' %}" alt="blog-thumb">
                    <a href="blog-post.html" class="overlay-link small"><i class="fa fa-link"></i></a>
                  </div>
                </div>
                <div class="media-body">
                  <h6 class="media-heading"><a href="blog-post.html">Lorem ipsum dolor sit amet...</a></h6>
                  <p class="small margin-clear"><i class="fa fa-calendar pr-2"></i>Mar 23, 2017</p>
                </div>
              </div>
              <hr>
              <div class="media margin-clear">
                <div class="d-flex pr-2">
                  <div class="overlay-container">
                    <img class="media-object" src="{% static 'images/blog-thumb-2.jpg' %}" alt="blog-thumb">
                    <a href="blog-post.html" class="overlay-link small"><i class="fa fa-link"></i></a>
                  </div>
                </div>
                <div class="media-body">
                  <h6 class="media-heading"><a href="blog-post.html">Lorem ipsum dolor sit amet...</a></h6>
                  <p class="small margin-clear"><i class="fa fa-calendar pr-2"></i>Mar 22, 2017</p>
                </div>
              </div>
              <hr>
              <div class="media margin-clear">
                <div class="d-flex pr-2">
                  <div class="overlay-container">
                    <img class="media-object" src="{% static 'images/blog-thumb-3.jpg' %}" alt="blog-thumb">
                    <a href="blog-post.html" class="overlay-link small"><i class="fa fa-link"></i></a>
                  </div>
                </div>
                <div class="media-body">
                  <h6 class="media-heading"><a href="blog-post.html">Lorem ipsum dolor sit amet...</a></h6>
                  <p class="small margin-clear"><i class="fa fa-calendar pr-2"></i>Mar 21, 2017</p>
                </div>
              </div>
              <hr>
              <div class="media margin-clear">
                <div class="d-flex pr-2">
                  <div class="overlay-container">
                    <img class="media-object" src="{% static 'images/blog-thumb-4.jpg' %}" alt="blog-thumb">
                    <a href="blog-post.html" class="overlay-link small"><i class="fa fa-link"></i></a>
                  </div>
                </div>
                <div class="media-body">
                  <h6 class="media-heading"><a href="blog-post.html">Lorem ipsum dolor sit amet...</a></h6>
                  <p class="small margin-clear"><i class="fa fa-calendar pr-2"></i>Mar 21, 2017</p>
                </div>
              </div>
              <div class="text-right space-top">
                <a href="blog-large-image-right-sidebar.html" class="link-dark"><i class="fa fa-plus-circle pl-1 pr-1"></i>More</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="footer-content">
              <h2 class="title">Portfolio Gallery</h2>
              <div class="separator-2"></div>
              <div class="row grid-space-10">
                <div class="col-4 col-lg-6">
                  <div class="overlay-container mb-10">
                    <img src="{% static 'images/gallery-1.jpg' %}" alt="">
                    <a href="portfolio-item.html" class="overlay-link small">
                      <i class="fa fa-link"></i>
                    </a>
                  </div>
                </div>
                <div class="col-4 col-lg-6">
                  <div class="overlay-container mb-10">
                    <img src="{% static 'images/gallery-2.jpg' %}" alt="">
                    <a href="portfolio-item.html" class="overlay-link small">
                      <i class="fa fa-link"></i>
                    </a>
                  </div>
                </div>
                <div class="col-4 col-lg-6">
                  <div class="overlay-container mb-10">
                    <img src="{% static 'images/gallery-3.jpg' %}" alt="">
                    <a href="portfolio-item.html" class="overlay-link small">
                      <i class="fa fa-link"></i>
                    </a>
                  </div>
                </div>
                <div class="col-4 col-lg-6">
                  <div class="overlay-container mb-10">
                    <img src="{% static 'images/gallery-4.jpg' %}" alt="">
                    <a href="portfolio-item.html" class="overlay-link small">
                      <i class="fa fa-link"></i>
                    </a>
                  </div>
                </div>
                <div class="col-4 col-lg-6">
                  <div class="overlay-container mb-10">
                    <img src="{% static 'images/gallery-5.jpg' %}" alt="">
                    <a href="portfolio-item.html" class="overlay-link small">
                      <i class="fa fa-link"></i>
                    </a>
                  </div>
                </div>
                <div class="col-4 col-lg-6">
                  <div class="overlay-container mb-10">
                    <img src="{% static 'images/gallery-6.jpg' %}" alt="">
                    <a href="portfolio-item.html" class="overlay-link small">
                      <i class="fa fa-link"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="text-right space-top">
                <a href="portfolio-grid-2-3-col.html" class="link-dark"><i class="fa fa-plus-circle pl-1 pr-1"></i>More</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="footer-content">
              <h2 class="title">Find Us</h2>
              <div class="separator-2"></div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium odio voluptatem necessitatibus illo vel dolorum soluta.</p>
              <ul class="social-links circle animated-effect-1">
                <li class="facebook"><a target="_blank" href="https://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                <li class="twitter"><a target="_blank" href="https://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                <li class="googleplus"><a target="_blank" href="https://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
                <li class="linkedin"><a target="_blank" href="https://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
                <li class="xing"><a target="_blank" href="https://www.xing.com"><i class="fa fa-xing"></i></a></li>
              </ul>
              <div class="separator-2"></div>
              <ul class="list-icons">
                <li><i class="fa fa-map-marker pr-2 text-default"></i> One infinity loop, 54100</li>
                <li><i class="fa fa-phone pr-2 text-default"></i> +00 1234567890</li>
                <li><a href="mailto:info@theproject.com"><i class="fa fa-envelope-o pr-2"></i>info@theproject.com</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- .footer end -->

  <!-- .subfooter start -->
  <!-- ================ -->
  <div class="subfooter">
    <div class="container">
      <div class="subfooter-inner">
        <div class="row">
          <div class="col-md-12">
            <p class="text-center">Geek Beacon </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- .subfooter end -->

</footer>
<!-- footer end -->
</div>
<!-- page-wrapper end -->

<!-- JavaScript files placed at the end of the document so the pages load faster -->
<!-- ================================================== -->
<!-- Jquery and Bootstap core js files -->
<script type="text/javascript" src="{% static 'plugins/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/tether.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<!-- Modernizr javascript -->
<script type="text/javascript" src="{% static 'plugins/modernizr.js' %}"></script>
<!-- jQuery Revolution Slider  -->
<script type="text/javascript" src="{% static 'plugins/rs-plugin-5/js/jquery.themepunch.tools.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/rs-plugin-5/js/jquery.themepunch.revolution.min.js' %}"></script>
<!-- Isotope javascript -->
<script type="text/javascript" src="{% static 'plugins/isotope/isotope.pkgd.min.js' %}"></script>
<!-- Magnific Popup javascript -->
<script type="text/javascript" src="{% static 'plugins/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
<!-- Appear javascript -->
<script type="text/javascript" src="{% static 'plugins/waypoints/jquery.waypoints.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/waypoints/sticky.min.js' %}"></script>
<!-- Count To javascript -->
<script type="text/javascript" src="{% static 'plugins/jquery.countTo.js' %}"></script>
<!-- Parallax javascript -->
<script src="{% static 'plugins/jquery.parallax-1.1.3.js' %}"></script>
<!-- Contact form -->
<script src="{% static 'plugins/jquery.validate.js' %}"></script>
<!-- Morphext -->
<script type="text/javascript" src="{% static 'plugins/morphext/morphext.min.js' %}"></script>
<!-- Owl carousel javascript -->
<script type="text/javascript" src="{% static 'plugins/owlcarousel2/owl.carousel.min.js' %}"></script>
<!-- Initialization of Plugins -->
<script type="text/javascript" src="{% static 'js/template.js' %}"></script>
<!-- Custom Scripts -->
<script type="text/javascript" src="{% static 'js/custom.js' %}"></script>

</body>
{% endblock content %}
